#include "string_resources.h"
#include "afxres.h"

#ifdef APSTUDIO_INVOKED
  #error this file is not editable by Visual C++
#endif //APSTUDIO_INVOKED

#pragma code_page(1252)
LANGUAGE LANG_SPANISH, SUBLANG_SPANISH_MODERN


/////////////////////////////////////////////////////////////////////////////
//
// Spanish String Table
//

STRINGTABLE 
BEGIN
    IDS_TITLE                "Actualización de software" 
    IDS_RELEASE_NOTES        "Notas de la versión:"
    IDS_SKIP_THIS            "Saltar esta versión"
    IDS_REMIND_LATER         "Recordármelo más tarde"
    IDS_INSTALL              "Instale la actualización"
    IDS_CHECKING             "Comprobación de las actualizaciones..."
    IDS_CANCEL               "Cancelar"
    IDS_UP2DATE              "Estás al día!"
    IDS_NEWEST               "%s %s es actualmente la última versión disponible"
    IDS_CLOSE                "Cerrar"
    IDS_UPDATE_ERR           "Error de actualización!"
    IDS_UPDATE_ERR_MSG       "Se produjo un error al recuperar la información de actualización. Asegúrese de que está conectado a Internet y vuelva a intentarlo."
    IDS_NEW_AVAILABLE        "Una nueva versión de %s está disponible!"
    IDS_ASK_DOWNLOAD         "%s %s ya está disponible (tiene %s). ¿Desea descargarlo ahora?"
    IDS_ASK_AUTO_UPDATE      "Comprobar si hay actualizaciones de forma automática?"
    IDS_ASK_AUTO_UPDATE_MSG  "En caso de %s de forma automática las actualizaciones?"
    IDS_CHECK_AUTOMATIC      "Comprobar de forma automática"
    IDS_DONT_CHECK           "No comprobar"
    IDS_CLOSE_INSTALL        "Cerrar e instalar"
    IDS_DOWNLOAD_OK_MSG      "La actualización se ha descargado correctamente."
    IDS_UPDATE_CANCELLED     "La actualización fue cancelado debido a un error."
    IDS_UPDATING             "actualización"
    IDS_DOWNLOADING_UPDATE   "Descarga de la actualización %s..."
END

